In [1]:
%cd ..

c:\Users\bkosinski\Desktop\STUDIA\INZ\modules\ML-API\packetbaseml

In [2]:
from src.data.dataset import Dataset

### **Fixed dataset**

In [3]:
fixed_dataset: Dataset = Dataset("./data/interim/parsed_data.csv")

### **How to load Dataset?**

In [3]:
fixed_dataset: Dataset = Dataset("./data/interim/parsed_data.csv")

In [5]:
fixed_dataset.data.groupby("Label")["Label",].count()

         Label
Label
0      1078777
1       286191
2          230
3       686012
4         1730
5       576191
6        41508
7       461912
8        10990
9       193360
10      187589
11          59
12         611
13      139890
14      161934
15          87

In [15]:
fixed_dataset.data

,Protocol,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,Fwd Pkt Len Mean,Fwd Pkt Len Std,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,17.0,43705.0,2.0,2.0,78.0,196.0,39.0,39.0,39.000000,0.000000,...,8.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0
1,6.0,28614199.0,9.0,11.0,324.0,3517.0,196.0,0.0,36.000000,72.998288,...,20.0,67788.333333,82307.381226,162306.0,11909.0,9469945.0,906914.347578,10033127.0,8423754.0,0
2,6.0,60366096.0,11.0,9.0,3736.0,4556.0,1141.0,0.0,339.636364,421.410316,...,20.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0
3,6.0,40.0,2.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,20.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0
4,6.0,4236838.0,5.0,3.0,935.0,376.0,935.0,0.0,187.000000,418.144712,...,32.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3827066,6.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,24.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,14
3827067,6.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,24.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,14
3827068,6.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,24.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,14
3827069,6.0,22.0,1.0,1.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,24.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,14
3827070,6.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,24.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,14

### **Dataset quick view**

In [3]:
dataset.data

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label,Flow ID,Src IP,Src Port,Dst IP
0,443,6,02/03/2018 08:47:38,141385,9,7,553,3773.0,202,0,...,0.0,0.0,0.0,0.0,0.0,Benign,NaN,NaN,NaN,NaN
1,49684,6,02/03/2018 08:47:38,281,2,1,38,0.0,38,0,...,0.0,0.0,0.0,0.0,0.0,Benign,NaN,NaN,NaN,NaN
2,443,6,02/03/2018 08:47:40,279824,11,15,1086,10527.0,385,0,...,0.0,0.0,0.0,0.0,0.0,Benign,NaN,NaN,NaN,NaN
3,443,6,02/03/2018 08:47:40,132,2,0,0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,Benign,NaN,NaN,NaN,NaN
4,443,6,02/03/2018 08:47:41,274016,9,13,1285,6141.0,517,0,...,0.0,0.0,0.0,0.0,0.0,Benign,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16232997,23,6,28/02/2018 11:59:12,3,1,1,0,0,0,0,...,0,0,0.0,0,0,Infilteration,NaN,NaN,NaN,NaN
16232998,425,6,28/02/2018 10:50:04,2,1,1,0,0,0,0,...,0,0,0.0,0,0,Infilteration,NaN,NaN,NaN,NaN
16232999,445,6,28/02/2018 12:52:55,732728,2,2,0,0,0,0,...,0,0,0.0,0,0,Benign,NaN,NaN,NaN,NaN
16233000,23,6,28/02/2018 11:10:50,22,1,1,0,0,0,0,...,0,0,0,0,0,Infilteration,NaN,NaN,NaN,NaN
16233001,443,6,28/02/2018 11:12:18,2,1,1,0,0,0,0,...,0,0,0,0,0,Infilteration,NaN,NaN,NaN,NaN

In [4]:
print(f"Columns: {', '.join(dataset.data.columns.tolist())}")

Columns: Dst Port, Protocol, Timestamp, Flow Duration, Tot Fwd Pkts, Tot Bwd Pkts, TotLen Fwd Pkts, TotLen Bwd Pkts, Fwd Pkt Len Max, Fwd Pkt Len Min, Fwd Pkt Len Mean, Fwd Pkt Len Std, Bwd Pkt Len Max, Bwd Pkt Len Min, Bwd Pkt Len Mean, Bwd Pkt Len Std, Flow Byts/s, Flow Pkts/s, Flow IAT Mean, Flow IAT Std, Flow IAT Max, Flow IAT Min, Fwd IAT Tot, Fwd IAT Mean, Fwd IAT Std, Fwd IAT Max, Fwd IAT Min, Bwd IAT Tot, Bwd IAT Mean, Bwd IAT Std, Bwd IAT Max, Bwd IAT Min, Fwd PSH Flags, Bwd PSH Flags, Fwd URG Flags, Bwd URG Flags, Fwd Header Len, Bwd Header Len, Fwd Pkts/s, Bwd Pkts/s, Pkt Len Min, Pkt Len Max, Pkt Len Mean, Pkt Len Std, Pkt Len Var, FIN Flag Cnt, SYN Flag Cnt, RST Flag Cnt, PSH Flag Cnt, ACK Flag Cnt, URG Flag Cnt, CWE Flag Count, ECE Flag Cnt, Down/Up Ratio, Pkt Size Avg, Fwd Seg Size Avg, Bwd Seg Size Avg, Fwd Byts/b Avg, Fwd Pkts/b Avg, Fwd Blk Rate Avg, Bwd Byts/b Avg, Bwd Pkts/b Avg, Bwd Blk Rate Avg, Subflow Fwd Pkts, Subflow Fwd Byts, Subflow Bwd Pkts, Subflow Bwd Byts, Init Fwd Win Byts, Init Bwd Win Byts, Fwd Act Data Pkts, Fwd Seg Size Min, Active Mean, Active Std, Active Max, Active Min, Idle Mean, Idle Std, Idle Max, Idle Min, Label, Flow ID, Src IP, Src Port, Dst IP

In CID-2018 dataset only rows with Label `DDoS attacks-LOIC-HTTP` contain values for columns such as `DSt IP` and `Src IP`

In [5]:
dataset.data.groupby('Label')['Dst IP', ].count()

                           Dst IP
Label
Benign                    7372557
Bot                             0
Brute Force -Web                0
Brute Force -XSS                0
DDOS attack-HOIC                0
DDOS attack-LOIC-UDP            0
DDoS attacks-LOIC-HTTP     576191
DoS attacks-GoldenEye           0
DoS attacks-Hulk                0
DoS attacks-SlowHTTPTest        0
DoS attacks-Slowloris           0
FTP-BruteForce                  0
Infilteration                   0
Label                           0
SQL Injection                   0
SSH-Bruteforce                  0

### **Each class size**

In [6]:
dataset.data.groupby('Label')['Timestamp', ].count()

                          Timestamp
Label
Benign                     13484708
Bot                          286191
Brute Force -Web                611
Brute Force -XSS                230
DDOS attack-HOIC             686012
DDOS attack-LOIC-UDP           1730
DDoS attacks-LOIC-HTTP       576191
DoS attacks-GoldenEye         41508
DoS attacks-Hulk             461912
DoS attacks-SlowHTTPTest     139890
DoS attacks-Slowloris         10990
FTP-BruteForce               193360
Infilteration                161934
Label                            59
SQL Injection                    87
SSH-Bruteforce               187589

### **Train data classes**
- Benign                      
- Bot                                           
- Brute Force -XSS                 
- DDOS attack-HOIC              
- DDOS attack-LOIC-UDP            
- DDoS attacks-LOIC-HTTP      
- DoS attacks-GoldenEye          
- DoS attacks-Hulk                    
- DoS attacks-Slowloris          
- FTP-BruteForce                                
- Label                                                
- SSH-Bruteforce
### **Test data classes**
- Brute Force -Web                 
- DoS attacks-SlowHTTPTest      
- Infilteration                                              
- SQL Injection

### **Filter Dataset by Labels**

In [4]:
from src.data.labels import train_labels

In [8]:
print(f"Train Labels: f{', '.join(train_labels)}")

Train Labels: fBot, Brute Force -XSS, DDOS attack-HOIC, DDOS attack-LOIC-UDP, DDoS attacks-LOIC-HTTP, DoS attacks-GoldenEye, DoS attacks-Hulk, DoS attacks-Slowloris, FTP-BruteForce, SSH-Bruteforce, Label

In [9]:
test_dataset = dataset.filter_data_by_labels(train_labels)
test_dataset.groupby('Label')['Timestamp', ].count()

                        Timestamp
Label
Bot                        286191
Brute Force -XSS              230
DDOS attack-HOIC           686012
DDOS attack-LOIC-UDP         1730
DDoS attacks-LOIC-HTTP     576191
DoS attacks-GoldenEye       41508
DoS attacks-Hulk           461912
DoS attacks-Slowloris       10990
FTP-BruteForce             193360
Label                          59
SSH-Bruteforce             187589

### **Fix dataset**
- Drop unneded columns such as `Timestamp, Flow ID, Src IP, Src Port, Dst IP, Dst Port`
- Map string labels to int indexes
- Fix all data cells to numeric type

In [5]:
dataset.fix_dataset() 
dataset.data

,Protocol,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,Fwd Pkt Len Mean,Fwd Pkt Len Std,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,6.0,141385.0,9.0,7.0,553.0,3773.0,202.0,0.0,61.444444,87.534438,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,6.0,281.0,2.0,1.0,38.0,0.0,38.0,0.0,19.000000,26.870058,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,6.0,279824.0,11.0,15.0,1086.0,10527.0,385.0,0.0,98.727273,129.392497,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,6.0,132.0,2.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,6.0,274016.0,9.0,13.0,1285.0,6141.0,517.0,0.0,142.777778,183.887722,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16232997,6.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14
16232998,6.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14
16232999,6.0,732728.0,2.0,2.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
16233000,6.0,22.0,1.0,1.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14
16233001,6.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14

In [7]:
dataset.data.groupby('Label')['Protocol', ].count()

       Protocol
Label
0      13484708
1        286191
2           230
3        686012
4          1730
5        576191
6         41508
7        461912
8         10990
9        193360
10       187589
11            0
12          611
13       139890
14       161934
15           87

In [10]:
from src.data.labels import labels

print('\n'.join([f"Index: {i}\tLabel: {label}" for i, label in enumerate(labels)]))

Index: 0	Label: Benign
Index: 1	Label: Bot
Index: 2	Label: Brute Force -XSS
Index: 3	Label: DDOS attack-HOIC
Index: 4	Label: DDOS attack-LOIC-UDP
Index: 5	Label: DDoS attacks-LOIC-HTTP
Index: 6	Label: DoS attacks-GoldenEye
Index: 7	Label: DoS attacks-Hulk
Index: 8	Label: DoS attacks-Slowloris
Index: 9	Label: FTP-BruteForce
Index: 10	Label: SSH-Bruteforce
Index: 11	Label: Label
Index: 12	Label: Brute Force -Web
Index: 13	Label: DoS attacks-SlowHTTPTest
Index: 14	Label: Infilteration
Index: 15	Label: SQL Injection

### **Attributes' histograms**

In [4]:
from src.data.labels import labels

labels_idx: dict = {label: i for i, label in enumerate(labels) if i != 0}

df = fixed_dataset.data[fixed_dataset.data["Label"] != 0]

In [5]:
import matplotlib.pyplot as plt
import numpy as np
from numpy import histogram_bin_edges


total_steps = len(df.columns)

for step, column in enumerate(df.columns):
    progress = (step + 1) / total_steps
    progress = (step + 1) / total_steps
    progress_bar = (
        "[" + "=" * int(50 * progress) + " " * (50 - int(50 * progress)) + "]"
    )
    print(f"\r{progress_bar} {step + 1}/{total_steps} attributes processed", end="")
    if np.issubdtype(df[column].dtype, np.number):
        try:
            mask = np.isfinite(df[column])
            data = df[column][mask]
            # bins = histogram_bin_edges(data, "auto")
            bins = 500

            plt.figure(figsize=(10, 6))  # Ustaw rozmiar wykresu
            plt.hist(data, bins)
            plt.title(f"Rozkład atrybutu: {column}")  # Ustaw tytuł wykresu
            plt.xlabel(column)  # Ustaw etykietę osi X
            plt.ylabel("Liczba")  # Ustaw etykietę osi Y
            plt.savefig(f"./img/histograms/CICIDS2018/{column}_rozklad.png")  # Save the plot as a PNG file
            plt.close()
            plt.clf()
        except:
            print(f"\nError with column: {column}")
            plt.close()

[=========                                         ] 15/78 attributes processed
Error with column: Flow Byts/s
[==========                                        ] 16/78 attributes processed
Error with column: Flow Pkts/s
[=======================                           ] 37/78 attributes processed
Error with column: Fwd Pkts/s
[========================                          ] 38/78 attributes processed
Error with column: Bwd Pkts/s
[=================================                 ] 52/78 attributes processed
Error with column: Down/Up Ratio
[===================================               ] 56/78 attributes processed
Error with column: Fwd Byts/b Avg
[====================================              ] 57/78 attributes processed
Error with column: Fwd Pkts/b Avg
[=====================================             ] 59/78 attributes processed
Error with column: Bwd Byts/b Avg
[======================================            ] 60/78 attributes processed
Error with column: Bwd Pkts/b Avg
[==================================================] 78/78 attributes processed

### **Attributes' Heatmap**

In [12]:
import seaborn as sns
import matplotlib.pyplot as plt

corr = fixed_dataset.data.corr()

label_corr = corr[["Label"]].drop(["Label"], axis=0)  

num_attributes = label_corr.shape[0]
attributes_per_subplot = num_attributes // 4  


fig, axes = plt.subplots(
    nrows=1, ncols=4, figsize=(12, 20) 
)

cmap = sns.diverging_palette(230, 20, as_cmap=True)

for i in range(4):
    start_idx = i * attributes_per_subplot
    end_idx = (i + 1) * attributes_per_subplot
    subset = label_corr[start_idx:end_idx]

    # Create the heatmap for the current subset
    sns.heatmap(
        subset,
        cmap=cmap,
        annot=False,  # Include annotations
        vmax=0.3,
        center=0,
        square=True,  # Set to True to make cells square
        linewidths=0.2,
        cbar_kws={"shrink": 0.5},
        ax=axes[i],  # Plot in the ith subplot
    )
    axes[i].set_title("Korelacja między Label a pozostałymi atrybutami")
    axes[i].set_xlabel("Label")
    axes[i].set_ylabel("Atrybuty")
    axes[i].tick_params(axis="y", labelsize=8)  # Adjust label size for readability

# Adjust the layout
plt.tight_layout()

# Save the plot
plt.savefig(f"./img/heatmaps/ids2018_label_atrybuty_multicol.png", bbox_inches="tight")
plt.clf()

In [13]:
columns_to_drop = corr[(corr["Label"] >= -0.05) & (corr["Label"] <= 0.05)].index

# Print the columns to be dropped
print("Columns to be dropped due to low correlation with 'Label':")
print(columns_to_drop)

Columns to be dropped due to low correlation with 'Label':
Index(['Flow Duration', 'Tot Fwd Pkts', 'Tot Bwd Pkts', 'TotLen Fwd Pkts',
       'TotLen Bwd Pkts', 'Flow Byts/s', 'Flow IAT Std', 'Flow IAT Max',
       'Flow IAT Min', 'Fwd IAT Tot', 'Fwd IAT Std', 'Fwd IAT Max',
       'Fwd IAT Min', 'Bwd IAT Mean', 'Bwd IAT Std', 'Bwd IAT Max',
       'Bwd IAT Min', 'Fwd URG Flags', 'Fwd Header Len', 'Bwd Header Len',
       'FIN Flag Cnt', 'ACK Flag Cnt', 'CWE Flag Count', 'Subflow Fwd Pkts',
       'Subflow Fwd Byts', 'Subflow Bwd Pkts', 'Subflow Bwd Byts',
       'Init Fwd Win Byts', 'Fwd Act Data Pkts', 'Active Mean', 'Active Std',
       'Active Max', 'Active Min', 'Idle Mean', 'Idle Std', 'Idle Max',
       'Idle Min'],
      dtype='object')

In [14]:
fixed_dataset.data.drop(columns=columns_to_drop, inplace=True)

In [15]:
fixed_dataset.data.to_csv('./data/interim/corr_data.csv')

In [17]:
len(fixed_dataset.data.columns)

41

In [18]:
print(f"Columns: {', '.join(fixed_dataset.data.columns.tolist())}")

Columns: Protocol, Fwd Pkt Len Max, Fwd Pkt Len Min, Fwd Pkt Len Mean, Fwd Pkt Len Std, Bwd Pkt Len Max, Bwd Pkt Len Min, Bwd Pkt Len Mean, Bwd Pkt Len Std, Flow Pkts/s, Flow IAT Mean, Fwd IAT Mean, Bwd IAT Tot, Fwd PSH Flags, Bwd PSH Flags, Bwd URG Flags, Fwd Pkts/s, Bwd Pkts/s, Pkt Len Min, Pkt Len Max, Pkt Len Mean, Pkt Len Std, Pkt Len Var, SYN Flag Cnt, RST Flag Cnt, PSH Flag Cnt, URG Flag Cnt, ECE Flag Cnt, Down/Up Ratio, Pkt Size Avg, Fwd Seg Size Avg, Bwd Seg Size Avg, Fwd Byts/b Avg, Fwd Pkts/b Avg, Fwd Blk Rate Avg, Bwd Byts/b Avg, Bwd Pkts/b Avg, Bwd Blk Rate Avg, Init Bwd Win Byts, Fwd Seg Size Min, Label