In [1]:
import pandas as pd
from src.vars import MERGED_DATA_FILENAME
from src.data.parse_dataset import load_csv_to_dataframe

### **Load merged csv into Pandas DataFrame**

In [3]:
data_raw: pd.DataFrame = load_csv_to_dataframe(MERGED_DATA_FILENAME)

### **Dataset quick view**

In [4]:
data_raw

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label,Flow ID,Src IP,Src Port,Dst IP
0,443,6,02/03/2018 08:47:38,141385,9,7,553,3773.0,202,0,...,0.0,0.0,0.0,0.0,0.0,Benign,NaN,NaN,NaN,NaN
1,49684,6,02/03/2018 08:47:38,281,2,1,38,0.0,38,0,...,0.0,0.0,0.0,0.0,0.0,Benign,NaN,NaN,NaN,NaN
2,443,6,02/03/2018 08:47:40,279824,11,15,1086,10527.0,385,0,...,0.0,0.0,0.0,0.0,0.0,Benign,NaN,NaN,NaN,NaN
3,443,6,02/03/2018 08:47:40,132,2,0,0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,Benign,NaN,NaN,NaN,NaN
4,443,6,02/03/2018 08:47:41,274016,9,13,1285,6141.0,517,0,...,0.0,0.0,0.0,0.0,0.0,Benign,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16232997,23,6,28/02/2018 11:59:12,3,1,1,0,0,0,0,...,0,0,0.0,0,0,Infilteration,NaN,NaN,NaN,NaN
16232998,425,6,28/02/2018 10:50:04,2,1,1,0,0,0,0,...,0,0,0.0,0,0,Infilteration,NaN,NaN,NaN,NaN
16232999,445,6,28/02/2018 12:52:55,732728,2,2,0,0,0,0,...,0,0,0.0,0,0,Benign,NaN,NaN,NaN,NaN
16233000,23,6,28/02/2018 11:10:50,22,1,1,0,0,0,0,...,0,0,0,0,0,Infilteration,NaN,NaN,NaN,NaN
16233001,443,6,28/02/2018 11:12:18,2,1,1,0,0,0,0,...,0,0,0,0,0,Infilteration,NaN,NaN,NaN,NaN

In CID-2018 dataset only rows with Label `DDoS attacks-LOIC-HTTP` contain values for columns such as `DSt IP` and `Src IP`

In [5]:
data_raw.groupby('Label')['Dst IP'].count()

Label
Benign                      7372557
Bot                               0
Brute Force -Web                  0
Brute Force -XSS                  0
DDOS attack-HOIC                  0
DDOS attack-LOIC-UDP              0
DDoS attacks-LOIC-HTTP       576191
DoS attacks-GoldenEye             0
DoS attacks-Hulk                  0
DoS attacks-SlowHTTPTest          0
DoS attacks-Slowloris             0
FTP-BruteForce                    0
Infilteration                     0
Label                             0
SQL Injection                     0
SSH-Bruteforce                    0
Name: Dst IP, dtype: int64

In [6]:
data_raw.groupby('Label')['Timestamp', ].count()

                          Timestamp
Label
Benign                     13484708
Bot                          286191
Brute Force -Web                611
Brute Force -XSS                230
DDOS attack-HOIC             686012
DDOS attack-LOIC-UDP           1730
DDoS attacks-LOIC-HTTP       576191
DoS attacks-GoldenEye         41508
DoS attacks-Hulk             461912
DoS attacks-SlowHTTPTest     139890
DoS attacks-Slowloris         10990
FTP-BruteForce               193360
Infilteration                161934
Label                            59
SQL Injection                    87
SSH-Bruteforce               187589

In [7]:
data_raw.columns

Index(['Dst Port', 'Protocol', 'Timestamp', 'Flow Duration', 'Tot Fwd Pkts',
       'Tot Bwd Pkts', 'TotLen Fwd Pkts', 'TotLen Bwd Pkts', 'Fwd Pkt Len Max',
       'Fwd Pkt Len Min', 'Fwd Pkt Len Mean', 'Fwd Pkt Len Std',
       'Bwd Pkt Len Max', 'Bwd Pkt Len Min', 'Bwd Pkt Len Mean',
       'Bwd Pkt Len Std', 'Flow Byts/s', 'Flow Pkts/s', 'Flow IAT Mean',
       'Flow IAT Std', 'Flow IAT Max', 'Flow IAT Min', 'Fwd IAT Tot',
       'Fwd IAT Mean', 'Fwd IAT Std', 'Fwd IAT Max', 'Fwd IAT Min',
       'Bwd IAT Tot', 'Bwd IAT Mean', 'Bwd IAT Std', 'Bwd IAT Max',
       'Bwd IAT Min', 'Fwd PSH Flags', 'Bwd PSH Flags', 'Fwd URG Flags',
       'Bwd URG Flags', 'Fwd Header Len', 'Bwd Header Len', 'Fwd Pkts/s',
       'Bwd Pkts/s', 'Pkt Len Min', 'Pkt Len Max', 'Pkt Len Mean',
       'Pkt Len Std', 'Pkt Len Var', 'FIN Flag Cnt', 'SYN Flag Cnt',
       'RST Flag Cnt', 'PSH Flag Cnt', 'ACK Flag Cnt', 'URG Flag Cnt',
       'CWE Flag Count', 'ECE Flag Cnt', 'Down/Up Ratio', 'Pkt Size Avg',
       'Fwd Seg Size Avg', 'Bwd Seg Size Avg', 'Fwd Byts/b Avg',
       'Fwd Pkts/b Avg', 'Fwd Blk Rate Avg', 'Bwd Byts/b Avg',
       'Bwd Pkts/b Avg', 'Bwd Blk Rate Avg', 'Subflow Fwd Pkts',
       'Subflow Fwd Byts', 'Subflow Bwd Pkts', 'Subflow Bwd Byts',
       'Init Fwd Win Byts', 'Init Bwd Win Byts', 'Fwd Act Data Pkts',
       'Fwd Seg Size Min', 'Active Mean', 'Active Std', 'Active Max',
       'Active Min', 'Idle Mean', 'Idle Std', 'Idle Max', 'Idle Min', 'Label',
       'Flow ID', 'Src IP', 'Src Port', 'Dst IP'],
      dtype='object')